html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.page {
  margin: 0;
  min-height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 500%;
  text-align: center;
}

h2 {
  font-size: 250%;
}

#home {
  background-image: url('/images/toba-1-crop.jpg');
  background-repeat: no-repeat;
  background-size: 100%; 
  padding-top: 3%;
}

#about {
  background-image: url('/images/toba-memeoji2.jpg');
  background-position: 80% 40%;
  background-repeat: no-repeat;
  background-size: 35%;
}

#about h2,
p {
  font-size: 2vw;
  margin-left: 10%;
  max-width: 40%;
}

#quote-container {
  font-size: 2vw;
  margin-left: 10%;
  margin-top: 20px;
  max-width: 40%;
}

#life {
  background-color: #5e5d48;
  padding-top: 50px;
}

#life h1 {
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0 25px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width:  calc(25% - 8px);
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other 
instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-height: 600px) {
  #comments-grid {
    height: 300px
  }
} 

@media screen and (max-height: 2000px) {
  #comments-grid {
    height: 600px
  }
} 

#comments {
  margin: 55px auto auto;
  max-width: 650px;
}

#comments-grid {
  margin-top: 70px; 
  overflow: scroll;
}

#comment-box-label {
  width: 100%;
}

#comment-box {
  width: 100%;
}

#comment-form {
  display: none;
}

#limit-comments{
  float: right;
}

#delete {
  float: right;
  margin-top: 10px;
}