html, body {
    height: 100%;
    margin: 0;
}

body {
    position: static;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#home {
   background-image: url("/images/toba-1-crop.jpg");
   background-repeat: no-repeat;
    background-size: 100%; 
    text-align: center;
    padding-top: 3%;
    font-size: 275%;
}

#about-pic {
    float: right;
    width: 40%;
    height: 60%;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

#about {
    background-image: url("/images/toba-memeoji2.jpg");
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: 35%;
}

#quote-container {
  margin-top: 20px;
}

.page {
    height: 100%;
    margin: 0;
    overflow: hidden;
}